<!DOCTYPE html>
<html>
  <head>
    <title>Cc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        LOGO
      </div>
      <div class="col-4">
        Cotton Country Jams
      </div>
      <div class="col-5">
        <%= link_to 'Book Large Kitchen', '#' %>
        <%= link_to 'Book Small Kitchen', '#' %>
        <%= link_to 'Products', '#' %>
        <%= link_to 'About Us', '#' %>
        <%= link_to 'Contact Us', '#' %>
      </div>
    </header>

    <br class="clear" />

    <%= yield %>
  

  </body>
</html>
