<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="application.css">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
      <link
          rel="stylesheet"
          href="prism-atom-dark.css"
          type="text/css"
          media="screen"
        />

      <script type="text/javascript" src="prism.js"></script>
      <script type="text/javascript" src="prism.ruby.js"></script>
    
    <title>Cotton Country Jams</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

      <h1 class="navbar-brand">COTTON COUNTRY JAMS</h1>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="/pages/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/blk">Reserve Large Kitchen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/bsk">Reserve Small Kitchen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contact">Contact Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


    <%= yield %>
      <div class="footer">
        <h4>
          © Cotton Country Jams 2020. All rights reserved. Website created by Adryan Hawkins.
        </h4>
    </div>  
  </body>
</html>
